@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light theme color variables */
    --color-primary: #DC2A76;
    --color-secondary: #F76E72;
    --color-background: #F9FAFB;
    --color-text: #000000;
    --text-muted: #333333;
    --color-border: #dbe4f0;
    --color-surface: #F0F4F9;
    --color-input: #E6ECF3;
  }

  /* Apply font to all elements */
  *,
  *::before,
  *::after {
    font-family: "Poppins", sans-serif;
  }
}

.dark-theme {
  /* Light theme color variables */
  --color-background: #1C1C1C;
  --color-text: #FFFFFF;
  --text-muted: #D4D4D4;
  --color-border: #333333;
  --color-surface: #282828;
  --color-input: #333333;
}

body {
  @apply bg-background
}

body.dark-theme .dark-logo {
  filter: brightness(0) invert(1);
}

.gradient-button {
  @apply relative overflow-hidden;
  background: linear-gradient(to top, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.gradient-button :where(span, i) {
  @apply z-20 relative
}

.gradient-button::before {
  @apply absolute left-0 top-0 content-[""] w-full h-full z-10 opacity-0 transition-all duration-300;
  background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.gradient-button:hover::before {
  @apply opacity-100
}

.gradient-graph-line {
  height: 5px;
  background: #c4e17f;
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #ff4e50 50%, #ff4e50 62.5%, #8e9eab 62.5%, #8e9eab 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

nav :where(.nav-link, .theme-toggler):hover,
nav .hs-dropdown:hover>button {
  @apply text-primary
}

.footer-link {
  @apply block text-[15px] text-muted transition-all duration-200
}

.footer-link:hover {
  @apply text-primary
}