@import url("poppins/fonts.css");
@import url("playfair_display/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* Light theme color variables */
    --color-primary: #DC2A76;
    --color-secondary: #F76E72;
    --color-background: #FAF8F5;
    --color-text: #000000;
    --text-muted: #484848;
    --color-border: #dbe4f0;
    --color-surface: #FFFFFF;
    --color-input: #E6ECF3;
    --color-off-white: #f7f7f7;

    --color-table-background: #f7fafc;
    --color-table-header: #e5e7eb;
    --color-table-row-odd: #ffffff;
    --color-table-row-even: #f9fafb;
    --color-table-text-header: #4a5568;
    --color-table-text-body: #2d3748;
    --color-table-hover: #f3f4f6;
    --color-gradient: linear-gradient(to top, var(--color-primary) 5%, var(--color-secondary) 95%);

    /* AI Photo Editor Page Colors */
    --color-ape-primary: #28A745;
    --color-ape-secondary: #008BD1;
    --color-ape-background: #FAF8F5;
    --color-ape-text: #0D1016;
    --color-ape-text-gray: #323231;
    --color-ape-surface: #EAE8E6;
  }

  /* Apply font to all elements */
  body {
    font-family: "Poppins", sans-serif;
  }
}

.dark-theme {
  /* Light theme color variables */
  --color-background: #0D1016;
  --color-text: #FAF8F5;
  --text-muted: #D4D4D4;
  --color-border: #333333;
  --color-surface: #0D1016;
  --color-input: #333333;
  --color-off-white: #282828;

  --color-table-background: #2d3748;
  --color-table-header: #2a2d33;
  --color-table-row-odd: #1c1f24;
  --color-table-row-even: #15181c;
  --color-table-text-header: #e2e8f0;
  --color-table-text-body: #cbd5e0;
  --color-table-hover: #3a3e47;

  /* AI Photo Editor Page Colors */
  --color-ape-background: #0D1016;
  --color-ape-text: #FAF8F5;
  --color-ape-text-gray: #CFD2D3;
  --color-ape-surface: #3D4044;
}

body {
  @apply bg-background
}

/* Scrollbar styles */
.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.thick-scrollbar,
.thin-scrollbar:hover {
  scrollbar-color: var(--color-muted) transparent;
}

body.dark-theme :where(.img-invert, .dark-logo) {
  filter: brightness(0) invert(1);
}

nav :where(.nav-link, .theme-toggler):hover,
nav .hs-dropdown:hover>button {
  @apply text-primary
}

nav .nav-logo {
  border-radius: 6px 6px 15px 6px;
}

nav .nav-menu {
  border-radius: 15px 6px 15px 6px;
}

nav .nav-buttons .console-button {
  border-radius: 15px 6px 6px 6px;
}

.gradient-button {
  @apply relative overflow-hidden;
  background: linear-gradient(to top, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.gradient-button :where(span, i) {
  @apply z-20 relative
}

.gradient-button::before {
  @apply absolute left-0 top-0 content-[""] w-full h-full z-10 opacity-0 transition-all duration-300;
  background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.gradient-button:hover::before {
  @apply opacity-100
}

.bg-gradient {
  background: var(--color-gradient);
}

.gradient-outline-btn {
  @apply bg-gradient flex h-full rounded-[100px] p-0.5 transition-all duration-300;
}

.gradient-outline-btn:hover div {
  @apply bg-gradient
}

.gradient-outline-btn:hover span {
  @apply text-white
}

.gradient-graph-line {
  height: 1px;
  background: #c4e17f;
  background-image: linear-gradient(to right, #79C1E1, #709ADB, #ED5C57, #E17E71, #F7D07F, #F8FCCF, #CADF8B);
}

.gradient-bg {
  background: linear-gradient(to top, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.gradient-text {
  /* width: fit-content; */
  background: linear-gradient(to left, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-gradient-bg,
body.dark-theme .bg-gradient-theme {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(to top, #13161D, #191C28);
}

.bg-gradient-theme {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.gradient-button:hover>.bg-gradient-theme {
  color: #fff;
  background: transparent;
}

.hero-heading {
  @apply text-3xl font-bold lg:text-[2.5rem] gradient-text text-center leading-tight
}

.sec-title {
  @apply my-5 text-2xl sm:text-3xl font-semibold text-primary uppercase;
}

.sec-title-sm {
  @apply text-lg uppercase text-tColor font-semibold sm:text-xl;
}

.hero-section #particles-js::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url("../images/blur-vector.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-off-white {
  background-color: var(--color-off-white);
}

.lead {
  @apply text-base sm:text-lg md:text-2xl leading-snug text-center;
}

body.dark-theme ul li.card {
  @apply bg-black/50
}

.footer-link {
  @apply block w-fit text-[15px] text-muted transition-all duration-200
}

.footer-link:hover {
  @apply text-primary
}

.link {
  @apply text-blue-600
}

.link:hover {
  @apply underline
}

.list {
  @apply marker:text-blue-600 list-disc pl-5 space-y-4 text-tColor mt-5
}

body.dark-theme .code {
  @apply bg-neutral-900
}

.code {
  @apply bg-gray-100 rounded-md text-primary p-1 border border-gray-200;
}

.badge {
  @apply bg-pink-100 text-pink-800 font-medium me-2 px-2.5 py-0.5 rounded-xl;
}

body.dark-theme .badge {
  @apply bg-pink-800/30 text-pink-500;
}

body.dark-theme .table-wrapper,
body.dark-theme .code,
body.dark-theme tbody tr.t-row {
  @apply border-neutral-700
}

body.dark-theme .border-dark {
  @apply border border-neutral-700
}

body.dark-theme .border-b-dark {
  @apply border-b border-neutral-700
}

.table-wrapper {
  @apply my-5 mx-auto rounded-lg shadow-md p-6 overflow-x-auto border border-gray-200
}

.table-wrapper tbody tr.t-row {
  @apply border-b border-gray-200
}

/* Pricing Page's Brands Carousel Styling */
.pricing-brands-carousel::before,
.pricing-brands-carousel::after {
  position: absolute;
  top: 0;
  content: "";
  width: 250px;
  height: 100%;
  z-index: 2;
}

.pricing-brands-carousel::before {
  left: 0;
  background: linear-gradient(to left, transparent, var(--color-background));
}

.pricing-brands-carousel::after {
  right: 0;
  background: linear-gradient(to right, transparent, var(--color-background));
}

.pricing-brands-carousel .brands-wrapper {
  animation: slide 30s linear infinite;
}

.pricing-brands-carousel:hover .brands-wrapper {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.pricing-brands-carousel .brands-wrapper img {
  display: unset;
  margin: 0 35px;
  max-width: unset;
  filter: brightness(100%) invert(1);
}

body.dark-theme .pricing-brands-carousel .brands-wrapper img {
  filter: brightness(0) invert(1);
}

/* Media query for small screen */
@media screen and (max-width: 1024px) {
  .header-gradient-bg {
    border: none;
    background: transparent;
  }
}

/* AI Photo Editor Stylings */

body.ai-photo-editor {
  @apply bg-apeBackground
}

.playfair-font {
  font-family: "PlayfairDisplay", sans-serif;
}

header .ape-navbar .nav-logo {
  filter: brightness(100) invert(1);
}

nav.ape-navbar :where(.nav-link, .theme-toggler):hover,
nav.ape-navbar .hs-dropdown:hover>button {
  @apply text-apePrimary
}

body.dark-theme header .nav-logo {
  filter: brightness(0) invert(1);
}

.ape-gradient-button {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top left, var(--color-ape-primary), var(--color-ape-secondary));
}

.ape-gradient-button :where(span, i) {
  @apply z-20 relative
}

.ape-gradient-button::before {
  @apply absolute left-0 top-0 content-[""] w-full h-full z-10 opacity-0 transition-all duration-300;
  background: linear-gradient(to bottom left, var(--color-ape-primary) 0%, var(--color-ape-secondary) 100%);
}

.ape-gradient-button:hover::before {
  @apply opacity-100
}

.ape-gradient-bg-theme {
  background: linear-gradient(to top, var(--color-ape-primary), var(--color-ape-secondary));
}

.ape-gradient-surface-theme {
  background: linear-gradient(to bottom, #FFFFFF, #999999);
}

.ape-gradient-text {
  width: fit-content;
  background: linear-gradient(to top, var(--color-ape-primary), var(--color-ape-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.ape-header-gradient-theme,
.ape-card-gradient-theme {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

body.dark-theme .ape-header-gradient-theme,
body.dark-theme .ape-card-gradient-theme {
  background: linear-gradient(to top, #13161D, #191C28);
}

body.dark-theme .ape-header-gradient-theme {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.text-stroke {
  color: var(--color-ape-background);
  -webkit-text-stroke: 1px var(--color-ape-primary);
}

.ai-photo-editor .footer-link:hover {
  @apply text-apePrimary
}

/* Transparent background and no border on large screens */
@media screen and (min-width: 1024px) {

  header.ape-header-gradient-theme,
  body.dark-theme header.ape-header-gradient-theme {
    background: transparent;
    border: none;
  }
}


/* Transparent background and no border on small screens */
@media screen and (max-width: 1024px) {

  header .ape-header-gradient-theme,
  body.dark-theme header .ape-header-gradient-theme {
    background: transparent;
    border: none;
  }

  header.ape-header-gradient-theme,
  body.dark-theme header.ape-header-gradient-theme {
    background: transparent;
    border: none;
  }

  header.ape-header-gradient-theme::before {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  body.dark-theme header.ape-header-gradient-theme::before {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: linear-gradient(to top, #13161D, #191C28);
  }
}