@import url("poppins/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    /* Light theme color variables */
    --color-primary: #DC2A76;
    --color-secondary: #F76E72;
    --color-background: #FAF8F5;
    --color-text: #000000;
    --text-muted: #484848;
    --color-border: #dbe4f0;
    --color-surface: #FFFFFF;
    --color-input: #E6ECF3;
    --color-off-white: #f7f7f7;
    --color-gradient: linear-gradient(to top, var(--color-primary) 5%, var(--color-secondary) 95%)
  }

  /* Apply font to all elements */
  *,
  *::before,
  *::after {
    font-family: "Poppins", sans-serif;
  }
}

.dark-theme {
  /* Light theme color variables */
  --color-background: #0D1016;
  --color-text: #FAF8F5;
  --text-muted: #D4D4D4;
  --color-border: #333333;
  --color-surface: #0D1016;
  --color-input: #333333;
  --color-off-white: #282828;
}

body {
  @apply bg-background
}

body.dark-theme .dark-logo {
  filter: brightness(0) invert(1);
}

nav :where(.nav-link, .theme-toggler):hover,
nav .hs-dropdown:hover>button {
  @apply text-primary
}

.gradient-button {
  @apply relative overflow-hidden;
  background: linear-gradient(to top, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.gradient-button :where(span, i) {
  @apply z-20 relative
}

.gradient-button::before {
  @apply absolute left-0 top-0 content-[""] w-full h-full z-10 opacity-0 transition-all duration-300;
  background: linear-gradient(to bottom, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.gradient-button:hover::before {
  @apply opacity-100
}

.bg-gradient {
  background: var(--color-gradient);
}

.gradient-outline-btn {
  @apply bg-gradient flex h-full rounded-[100px] p-0.5 transition-all duration-300;
}

.gradient-outline-btn:hover div {
  @apply bg-gradient
}

.gradient-outline-btn:hover span {
  @apply text-white
}

.gradient-graph-line {
  height: 1px;
  background: #c4e17f;
  background-image: linear-gradient(to right, #79C1E1, #709ADB, #ED5C57, #E17E71, #F7D07F, #F8FCCF, #CADF8B);
}

.gradient-bg {
  background: linear-gradient(to top, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.gradient-text {
  /* width: fit-content; */
  background: linear-gradient(to left, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-heading {
  @apply text-4xl font-bold lg:text-5xl gradient-text
}
.sub-heading{
  @apply mb-5 text-2xl sm:text-3xl font-semibold text-tColor uppercase;
}

.hero-section #particles-js::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url("../images/blur-vector.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-off-white {
  background-color: var(--color-off-white);
}

.lead {
  @apply text-base sm:text-lg md:text-2xl leading-snug;
}

body.dark-theme ul li.card {
  @apply bg-black/50
}

.footer-link {
  @apply block w-fit text-[15px] text-muted transition-all duration-200
}

.footer-link:hover {
  @apply text-primary
}

.link {
  @apply text-blue-600
}

.link:hover {
  @apply underline
}

.list {
  @apply marker:text-blue-600 list-disc pl-5 space-y-4 text-tColor mt-5
}
/* body.dark-theme .code{
  @apply  border-neutral-700
} */
.code{
  @apply bg-surface rounded-md text-primary p-1 border border-gray-200;
}
body.dark-theme .table-wrapper,
body.dark-theme .code,
body.dark-theme tbody tr.t-row {
  @apply border-neutral-700
}
body.dark-theme .border-dark{
  @apply border border-neutral-700
}

.table-wrapper {
  @apply  my-5 mx-auto rounded-lg shadow-md p-6 overflow-x-auto border border-gray-200
}

.table-wrapper tbody tr.t-row {
  @apply border-b border-gray-200
}